@model ITMO.ASP.NET.GradeBook.Sim.Models.GradeBookModel
@{
    ViewBag.Title = "Корректировка ведомости";
}
<h2 class="notop">Корректировка ведомости</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="b-break-m"></div>
    <table class="table-rating">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.GradeBookID)
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                <div>
                    @Html.EditorFor(model => model.StudentName)
                    @Html.ValidationMessageFor(model => model.StudentName)
                </div>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                <div>
                    @Html.EditorFor(model => model.Group)
                    @Html.ValidationMessageFor(model => model.Group)
                </div>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade1)
            </th>
            <th>
                <div>
                    @Html.EditorFor(model => model.Grade1)
                    @Html.ValidationMessageFor(model => model.Grade1)
                </div>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade2)
            </th>
            <th>
                <div>
                    @Html.EditorFor(model => model.Grade2)
                    @Html.ValidationMessageFor(model => model.Grade2)
                </div>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade3)
            </th>
            <th>
                <div>
                    @Html.EditorFor(model => model.Grade3)
                    @Html.ValidationMessageFor(model => model.Grade3)
                </div>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade4)
            </th>
            <th>
                <div>
                    @Html.EditorFor(model => model.Grade4)
                    @Html.ValidationMessageFor(model => model.Grade4)
                </div>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade5)
            </th>
            <th>
                <div>
                    @Html.EditorFor(model => model.Grade5)
                    @Html.ValidationMessageFor(model => model.Grade5)
                </div>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade6)
            </th>
            <th>
                <div>
                    @Html.EditorFor(model => model.Grade6)
                    @Html.ValidationMessageFor(model => model.Grade6)
                </div>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade7)
            </th>
            <th>
                <div>
                    @Html.EditorFor(model => model.Grade7)
                    @Html.ValidationMessageFor(model => model.Grade7)
                </div>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Grade8)
            </th>
            <th>
                <div>
                    @Html.EditorFor(model => model.Grade8)
                    @Html.ValidationMessageFor(model => model.Grade8)
                </div>
            </th>
        </tr>
       
        <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
    </table>
}
