@model IEnumerable<ITMO.ASP.NET.GradeBook.Sim.Models.GradeBookModel>
@{
    ViewBag.Title = "Оценочная ведомость";
}
<h2 class="notop">Оценочная ведомость</h2>
<div class="b-break-m"></div>
<div>
    <table class="table-rating">
        <tr>
            <th >
                @Html.DisplayNameFor(model => model.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade8)
            </th>
        </tr>
        @foreach (var b in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => b.StudentName)</td>
                <td>@Html.DisplayFor(modelItem => b.Group)</td>
                <td>@Html.DisplayFor(modelItem => b.Grade1)</td>
                <td>@Html.DisplayFor(modelItem => b.Grade2)</td>
                <td>@Html.DisplayFor(modelItem => b.Grade3)</td>
                <td>@Html.DisplayFor(modelItem => b.Grade4)</td>
                <td>@Html.DisplayFor(modelItem => b.Grade5)</td>
                <td>@Html.DisplayFor(modelItem => b.Grade6)</td>
                <td>@Html.DisplayFor(modelItem => b.Grade7)</td>
                <td>@Html.DisplayFor(modelItem => b.Grade8)</td>
                <td>@Html.ActionLink("Изменить", "EditGrade", new { id = b.GradeBookID })</td>        
            </tr>
        }

        <tr>
        </tr>
    </table>
</div>